<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hello</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/CodingSearch.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body>

    <%- include('components/nav-setting') %>


        <div class="ui grid" style="position: relative;top: 150px;">
            <div class="four wide column"></div>
            <div class="eight wide column">
                <div class="ui form segment">
                    <div class="field" style="margin:0;">
                        <img style="float: left;" class="avatar" src="/img/<%= user.avatar %>">
                    </div>
                    <div style="display: inline-block;height: 222px;padding-left:20px; ">
                        <div class="field">
                            <label>用户名</label>
                            <%= user.name %>
                        </div>
                        <div class="field">
                            <label>性别</label>
                            <% if(user.gender=='m') {%>
                                <%= '程序猿' %>
                                    <% } else if(user.gender=='f') {%>
                                        <%= '程序媛'%>
                                            <% } else { %>
                                                <%= '程序⚪'%>
                                                    <% } %>
                        </div>
                        <div class="field ">
                            <label>个人简介</label>
                            <div>
                                <%= user.bio  %>
                            </div>
                        </div>
                 
                    <button class="sign">
                        <a href="/setting/edit" style="color: white">编辑</a>
                    </button>
                </div>
                </div>
            </div>
        </div>

        <%- include('footer') %>